<%= render 'articles/header' %>

<div class="article-item col-md-7 mt-4 p-5 bg-light text-dark rounded">
  <h2 class="text-center">
    <%= @article.title %>
  </h2>
  <div class="text-center mt-4">
    <%= image_tag @article.image.thumb('500x300#').url if @article.image_stored? %>
  </div>
  <p class="mt-4 fs-4">
    <%= @article.description %>
  </p>

  <div>
    <%= link_to "Изменить новость", edit_article_path(@article), class: "btn btn-dark" %>
    <%= link_to "Вернуться к новостям", articles_path, class: "btn btn-dark" %>

    <%= button_to "Удалить новость", @article, method: :delete, class: "btn btn-danger mt-3" %>

  </div>
</div>